using System.Reflection;
using System.Runtime.CompilerServices;
using System.Runtime.InteropServices;

// アセンブリに関する一般情報は以下の属性セットをとおして制御されます。 
// アセンブリに関連付けられている情報を変更するには、
// これらの属性値を変更してください。
[assembly: AssemblyTitle("Diagram Plugin")]
[assembly: AssemblyProduct("E-Cell IDE 1.0 RC2")]
[assembly: AssemblyDescription("Plugin to manage the display the object by Diagram")]
[assembly: AssemblyConfiguration("")]
[assembly: AssemblyCompany("Keio University and Mitsubishi Space Software CO., LTD.")]
[assembly: AssemblyCopyright("(C)Keio University, (C)Mitsubishi Space Software CO., LTD and(C)The Molecular Sciences Institute.\r\nAll rights reserved.")]
[assembly: AssemblyTrademark("")]
[assembly: AssemblyCulture("")]

// ComVisible を false に設定すると、このアセンブリ内の型は COM コンポーネントには 
// 参照不可能になります。COM からこのアセンブリ内の型にアクセスする場合は、 
// その型の ComVisible 属性を true に設定してください。
[assembly: ComVisible(false)]

// 次の GUID は、このプロジェクトが COM に公開される場合の、typelib の ID です
[assembly: Guid("d4bf7fd0-12dc-448a-a92d-8053cdcd8199")]

// アセンブリのバージョン情報は、以下の 4 つの値で構成されています:
//
//      Major Version
//      Minor Version 
//      Build Number
//      Revision
//
[assembly: AssemblyVersion("1.1.$WCREV$.0")]
[assembly: AssemblyFileVersion("1.1.$WCREV$.0")]
