{% extends "base.html" %}
{% load i18n %}
{% block body %}
<form method="post" enctype="multipart/form-data">
<div class="form-fieldset">
  <style type="text/css">
    .form-field .label_and_errorlist {
        width: 16em;
    }
    #id_name { width: 20em; }
    #id_email { width: 20em; }
    #id_description { display: block; }
  </style>
  {{ form.as_div }}
  <div class="form-footer">
    <input type="submit" value="{% trans "Submit" %}" />
  </div>
</div>
</form>
{% endblock %}
<!--
vim: sts=2 sw=2 ts=2 et
-->
