using System.Reflection;
using System.Runtime.CompilerServices;
using System.Runtime.InteropServices;

// アセンブリに関する一般情報は以下の属性セットをとおして制御されます。 
// アセンブリに関連付けられている情報を変更するには、
// これらの属性値を変更してください。
[assembly: AssemblyTitle("E-Cell IDE Application")]
[assembly: AssemblyProduct("E-Cell IDE 1.0")]
[assembly: AssemblyDescription("Application of E-Cell IDE")]
[assembly: AssemblyConfiguration("")]
[assembly: AssemblyCompany("Keio University and Mitsubishi Space Software CO., LTD.")]
[assembly: AssemblyCopyright("(C) 1996-2010 Keio University\r\n(C) 2003-2010 Mitsubishi Space Software CO., LTD.\r\n(C) 2005-2008 The Molecular Sciences Institute.\r\nAll rights reserved.")]
[assembly: AssemblyTrademark("")]
[assembly: AssemblyCulture("")]

// ComVisible を false に設定すると、このアセンブリ内の型は COM コンポーネントには 
// 参照不可能になります。COM からこのアセンブリ内の型にアクセスする場合は、 
// その型の ComVisible 属性を true に設定してください。
[assembly: ComVisible(true)]

// 次の GUID は、このプロジェクトが COM に公開される場合の、typelib の ID です
[assembly: Guid("1863e022-cbad-4e65-b903-6ba305ddb582")]

// アセンブリのバージョン情報は、以下の 4 つの値で構成されています:
//
//      Major Version
//      Minor Version 
//      Build Number
//      Revision
//
[assembly: AssemblyVersion("1.1.$WCREV$.0")]
[assembly: AssemblyFileVersion("1.1.$WCREV$.0")]
